.bimg /*for background in login page */
{
    background-image: url(../img/bimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
}
.shdwff
{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}
<<<<<<< HEAD
#sidebar
{
    min-width: 130px;
}
=======
>>>>>>> 16a7f4b61c2ca6c6d1d76ea59ab3183f86d7e5b9

